<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SimpleExpression</title>
</head>
<body>

<h2 th:text="#{Welcome}"></h2>

<p th:utext="#{HtmlText}"></p>

<h1 th:text="${name}"></h1>

<ul th:object="${user1}">
    <li th:text="*{id}"></li>
    <li th:text="*{name}"></li>
    <li th:text="*{age}"></li>
</ul>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:object="${user}" th:each="user : ${users}">
        <tr>
            <td th:text="*{id}"></td>
            <td th:text="|*{name} Test ${user.id}|"></td>
            <td th:text="*{age}"></td>
            <td><a th:href="@{/user/{userId}/details/{name}(userId=${user.id}, name=${user.name})}">Link</a></td>
        </tr>
    </th:block>
    </tbody>
</table>

</body>
</html>