<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Users</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.age}"></td>
            <td>
                <form method="post" th:action="@{/user/delete/{userId}(userId=${user.id})}">
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>
                <form method="post" th:action="@{/user/{id}(id=${user.id})}">
                    <button type="submit">Update</button>
                </form>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>

<br>

<!-- Create User Form -->
<form action="/user" method="post">
    <label for="name">Name</label>
    <br>
    <input name="name" id="name" placeholder="John" type="text">
    <label for="age">Age</label>
    <br>
    <input name="age" id="age" placeholder="18" type="number">
    <br>
    <button type="submit">Save</button>
</form>

</body>
</html>
